/* custom.css */

/* General Styles */
body {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.container {
    padding-top: 20px;
}

/* Navbar */
.navbar {
    margin-bottom: 20px;
    background-color: var(--bs-gray-800) !important;
}

/* Table */
.table {
    background-color: var(--bs-gray-900);
    color: var(--bs-light);
}

.table thead th {
    background-color: var(--bs-gray-800);
    color: var(--bs-light);
    border-color: var(--bs-gray-700);
}

.table tbody tr:hover {
    background-color: var(--bs-gray-700);
}

/* Buttons */
.btn {
    min-width: 80px;
}

/* Loading Indicator */
#loading-indicator {
    color: var(--bs-primary);
}

/* Modal */
.modal-content {
    background-color: var(--bs-gray-800);
    color: var(--bs-light);
}

.modal-header, .modal-footer {
    border-color: var(--bs-gray-700);
}

/* Forms */
.form-control {
    background-color: var(--bs-gray-700);
    color: var(--bs-light);
    border-color: var(--bs-gray-600);
}

.form-control:focus {
    background-color: var(--bs-gray-600);
    color: var(--bs-light);
}
